[user]
	name = Tobie Tsuzuki
	email = tobie.tsuzuki@gmail.com
    username = Nepsaco
[github]
    user = Nepsaco
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
[init]
	defaultBranch = main
[fetch]
	prune = true
[rerere]
	enabled = true
	autoupdate = true
[alias]
	hide = update-index --skip-worktree
	unhide = update-index --no-skip-worktree
	hidden = ! git ls-files -v | grep '^[h,S]' 
