#zsh config
alias zshconfig='nvim ~/.zshrc'

#nvim shortcut
alias v='nvim'

#Overwrite
alias ranger='ranger --choosedir=$HOME/rangerdir; LASTDIR=`cat $HOME/rangerdir`; rm -f $HOME/rangerdir; cd "$LASTDIR"'

#restore tmux sessions after restart
alias mux='pgrep -vx tmux > /dev/null && \
          tmux new -d -s delete-me && \
          tmux run-shell ~/.tmux/plugins/tmux-resurrect/scripts/restore.sh && \
          tmux kill-session -t delete-me && \
          tmux attach || tmux attach'


alias xdev='eval $(aws2-wrap --profile guild-dev --export) && export STAGE=dev'
alias xstaging='eval $(aws2-wrap --profile guild-staging --export) && export STAGE=staging'
alias xprod='eval $(aws2-wrap --profile guild-prod --export) && export STAGE=prod'

function gcop() {
  git checkout $1
  ggpull
}

alias seed='bin/rails db:seed:apartmentiq && RAILS_ENV=test bin//rails db:seed:apartmentiq'


alias rails='bin/rails'
